:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: teal;
  background-color: #f7d671;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --border-color: #fff;
  --bg-color: #f7d671;
  --white-font-color: #fff;
  --white-bg-color: #fff;
  --black-font-color: #000000;
  --black-bg-color: #000000;
  --start-btn-color: #98b356;
  --stepper-bg-color: #7878a329;
  --selected-bg-color: #f7d671;
  --answer-font-color: #6bff5a;
  --default-font-color: teal;
  --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}
