.card {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.quizCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.selectionPanel {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 30%;
  height: 100%;
  color: var(--white-font-color);
  background-color: var(--bg-color);
}

.questionsPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  background-color: var(--black-bg-color);
}
